/*                */
/* BEGIN BASE CSS */
/*                */

* { margin:0; padding:0; }

body { background: #ecf0f1; font:80% Verdana, sans-serif; color:#000; padding:25px 0 0 35px; }

/* heading area */
/* unvisited link */
h1 a:link { color:SlateGray; }
h2 a:link { color:SlateGray; }

/* visited link */
h1 a:visited { color:SlateGray; }
h2 a:visited { color:SlateGray; }

div#heading { padding:1em 1em 0 1em; border:1px solid #ddd; background:DarkSlateGray; margin:0 2em 2em 0; }
div#heading h1 { font-weight:normal; font-size:2.5em; margin-bottom:0.3em; font-family: Verdana, sans-serif; color:#D1E6E7;}
div#heading h2 { font-weight:normal; margin-bottom:0.3em; color:#D1E6E7; }
div#heading h3 { font-weight:normal; font-size:1.5em; margin-bottom:0.3em; font-family: Verdana, sans-serif; color:#D1E6E7;}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

/* hyperlink styles */
a { text-decoration:none; font-weight:bolder;  }
a:hover { color:#5BAB03; text-decoration: underline;}

div { line-height:1.6em; }

/* different colours for the results based on status */
.pass { color:#5BAB03; font-weight:bold;}
.fail { color:#FF5940; font-weight:bold;}
.sanity { color:Fuchsia; font-weight:bold;}
.corrupt { color:Black; font-weight:bold;}
.pend { color:SteelBlue; font-weight:bold; }

/*              */
/* END BASE CSS */
/*              */


/*                  */
/* BEGIN FILTER CSS */
/*                  */

/* spacer between heading and results */
.spacer {
  clear: both;
  height: 1em;
}

/* buttons for filter of results */
.btn {
  border: none;
  background: linear-gradient(to bottom, DarkSlateGray, #5B7778);
  border-radius: 3px;
  font-family: Arial;
  color: #D1E6E7;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 5px;
}

/* which button is active */
.active {
  background: linear-gradient(to bottom, #7d9394, #5B7778);
  text-decoration: none;
}

/* for the live filter */
.inputbox 
{ 
	float: right; 
	width:15em; 
	margin-right: 2.5em; 
	margin-top: 0.3em; 
	border:none; 
}
#live-filter 
{ 
	width: 100%; 
	border: none; 
	font:110% Verdana; 
	font-weight: bold; 
	background: #D1E6E7; 
	color:DarkSlateGray; 
	padding: 0.2em 0.5em 0.2em 0.5em; 
	box-sizing: border-box; 
}

/*                */
/* END FILTER CSS */
/*                */

/*                      */
/* SUMMARY.CSS SPECIFIC */
/*                      */

/* where all the Summary of batch run results go */
div#results 
{ 
	background: #ecf0f1; 
	bottom right no-repeat; 
	margin-right:2.5em; 
}

/* results overall styles */
ul { margin-left:2.5em; }
li { margin-bottom:0.4em; }
li a { font-weight:bold;}

/* do not want bullet points to appear */
ul { list-style-type: none; padding:0; margin:0; font-size:1.0em; }

